/*
  font-family: 'Bebas Neue', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
  */

/* GLOBAL STYLES */
html {
  height: 100%;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1240px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* BODY */

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: 'Bebas Neue', 'Arial' ,sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 2px;
  background-color: #fff;
  color: #222222;
}

/* Main content */
.section-container {
  display: flex;
}
.left-section {
  width: 600px;
  height: 782px;
  background-image: url(/img/image/background-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.left-section-content-wrapper{
  margin-top: 326px;
  margin-left: 158px;
}
.left-section-heading {
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
  color:#fff;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;

}
.left-section-buttion {
  background-color: #1E90FF;
  width: 164px;
  height: 48px;
  cursor: pointer;
  border-color: transparent;
}
.button-wrapper{
  display: flex;
  align-items: center;
  margin: 12px 24px;
}
.button-image {
  display: inline-block;
  background-image: url(/img/icons/star-icon.svg);
  width: 20px;
  height: 19px;
  background-size: contain;
  background-position: center center;
  margin-right: 12px;
}
.button-text {
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}


/* Right section */
.articles-wrapper{
  margin-top: 54px;
  margin-left: 54px;
}
.right-section {
  width: 600px;
}
.right-section-heading {
}
/* .right-section-line {
  color: #9999;
  align-items: center;
} */
.article-1 {
  display: flex;
  padding-top: 24px;
  border-top: 1px solid #999999;
}
.article-image {
}
.article-text {
}
.article-heading {
}
.article-details {
}
.article-date {
}
.article-view {
}
.article-2 {
  display: flex;
}
.article-3 {
  display: flex;
}