/*
  font-family: 'Bebas Neue', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
  */

/* GLOBAL STYLES */
html {
  height: 100%;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1240px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* BODY */

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: 'Bebas Neue', 'Arial' ,sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 2px;
  background-color: #fff;
  color: #222222;
}

/* Main content */
.section-container {
  display: flex;
}
.left-section {
  width: 600px;
  background-image: url(/img/image/background-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

}
.left-section-heading {
}
.buttion {
}
.button-image {
}
.button-text {
}
.right-section {
  width: 600px;
}
.right-section-heading {
}
.article-1 {
}
.article-image {
}
.article-text {
}
.article-heading {
}
.article-details {
}
.article-date {
}
.article-view {
}
.article-2 {
}
.article-3 {
}